doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ../public/css/style.css
            include ../public/css/menu.css
        title Edit User
    body
        include ./header.pug
        #container_form
            form(id="edit_form" method="POST" action=`/api/astronomy/guild/${user[0].afNumber}?_method=PUT`)
                label(for="name") Affiliated Number
                input(type="text" name="afNumber" id="afNumber" value=user[0].afNumber disabled) 
                label(for="name") Name
                input(type="text" name="name" id="input_name" value=user[0].name disabled) 
                label(for="nickname") Nickname
                input(type="text" name="nickname" id="input_nickname" value=user[0].nickname) 
                label(for="occupation") Occupation
                input(type="text" name="occupation" id="input_occupation" value=user[0].occupation)
                label(for="points") Set Astronomical Points
                input(type="number" name="astronomicalPoints" id="input_points" value=user[0].astronomicalPoints)
                input(type="hidden", name="token" value=token)
                input(type="submit", value="Save Changes" id="btn_save")
            form(id="edit_delete" method="POST", action=`/api/astronomy/guild/${user[0].afNumber}/delete?_method=PUT`)
                label(for="delete" id="label_delete") Do you want to delete your account?
                input(type="checkbox", name="delete" id="check_delete")
                input(type="hidden", name="token" value=token)
                input(type="submit", value="Delete Account" id="btn_delete")
        #goBack
            button(onclick="window.history.back()") Go Back
        script.
            const user = !{jsStringify(user)};
            
            const nickname = document.querySelector("#input_nickname");
            const occupation = document.querySelector("#input_occupation");
            const points = document.querySelector("#input_points");
            const check_delete = document.querySelector("#check_delete");

            const btn_save = document.querySelector("#btn_save");
            const btn_delete = document.querySelector("#btn_delete");

            btn_save.disabled = true
            btn_delete.disabled = true

            let label_delete = document.querySelector("#label_delete");

            if (user[0].deleted == true){

                label_delete.innerHTML = "The deletion of this account has been requested, contact the administrator"
                check_delete.checked = true
                check_delete.disabled = true
                nickname.disabled = true
                occupation.disabled = true

            }else{
                check_delete.checked = false;
            }  

            nickname.addEventListener("change", () => {
                btn_save.disabled = false;
            });
            occupation.addEventListener("change", () => {
                btn_save.disabled = false;
            });
            points.addEventListener("change", () => {
                btn_save.disabled = false;
            });

            check_delete.addEventListener("change", () => {
                check_delete.checked ? btn_delete.disabled = false :
                                        btn_delete.disabled = true
            })