doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css', integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==', crossorigin='')
        link(rel='icon' href='/public/assets/favicon.ico')
        style
            include ../public/css/style.css
            include ../public/css/menu.css
        script(src="https://kit.fontawesome.com/a5b1eae3e6.js" crossorigin="anonymous") 
        script(src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.21.7.js")
        title Mars
    body
        include ./header.pug
        #containerMars 
            #map
            p#album_perseverance_title
                |Latest photos of Perseverance 
                span=perseverancePhotos.latest_photos[0].earth_date
            button(id="btn_perseverance_album") Show Album
            .grid_gallery
                each photo in perseverancePhotos.latest_photos
                    a(class="grid_gallery_item", href=photo.img_src, target="_blank", rel="noopener noreferrer") 
                        img(class="grid_gallery_img", src=photo.img_src, alt="perseverance_photo")
            p#album_curiosity_title
                |Latest photos of Curiosity 
                span=curiosityPhotos.latest_photos[0].earth_date
            button(id="btn_curiosity_album") Show Album
            .grid_gallery2
                each photo in curiosityPhotos.latest_photos
                    a(class="grid_gallery_item", href=photo.img_src, target="_blank", rel="noopener noreferrer") 
                        img(class="grid_gallery_img", src=photo.img_src, alt="curiosity_photo")
            button(onclick="topFunction()" id="btn_top")
                i(class="fas fa-chevron-circle-up")
    
        script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js', integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==', crossorigin='')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet-realtime/2.2.0/leaflet-realtime.min.js', crossorigin='')
        script.
            const perseveranceData = !{jsStringify(perseveranceData)};
            const curiosityData = !{jsStringify(curiosityData)};
            const weather = !{jsStringify(weather)};

            const btn_perseverance_album = document.querySelector("#btn_perseverance_album");
            const btn_curiosity_album = document.querySelector("#btn_curiosity_album");
            const latest_perseverance_photos = document.querySelector(".grid_gallery");
            const latest_curiosity_photos = document.querySelector(".grid_gallery2");

            btn_perseverance_album.addEventListener("click", () =>{
                if(latest_perseverance_photos.style.display == "grid"){
                    latest_perseverance_photos.style.display = "none";
                    btn_perseverance_album.innerHTML = "Show Album";
                }else{
                    latest_perseverance_photos.style.display = "grid";
                    btn_perseverance_album.innerHTML = "Hide Album";
                }
            });
            btn_curiosity_album.addEventListener("click", () =>{
                if(latest_curiosity_photos.style.display == "grid"){
                    latest_curiosity_photos.style.display = "none";
                    btn_curiosity_album.innerHTML = "Show Album";
                }else{
                    latest_curiosity_photos.style.display = "grid";
                    btn_curiosity_album.innerHTML = "Hide Album";
                }
            });
        script(src="/utils/map_mars.js")
        script(src="/utils/top_button.js")