doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/a5b1eae3e6.js" crossorigin="anonymous") 
        style
            include ../public/css/style.css
            include ../public/css/menu.css
        script(src="https://cdn.jsdelivr.net/npm/chart.js") 
        title NEAs
    body
        include ./header.pug
        #containerNeas
            #chart
                canvas#myChart
            #queriesNeas
                #neas_info
                    p#amount_neas
                        |Now are 
                        span(id="data_length")=`${data.length} `
                        |NEAs in your chart
                    input(type="button", value="Reset", id="btn_reset")
                #neas_filters
                    #formClass
                        input(id='inputOrbit' list='class' name='class')
                        - 
                            let neas_orbit_class = [];
                                for(let nea of data){
                                    if(neas_orbit_class.indexOf(nea.orbit_class) === -1) {
                                    neas_orbit_class.push(nea.orbit_class);
                                    }
                                }
                        datalist(id='class')
                            each nea in neas_orbit_class
                                option(value=nea)=nea
                        input(type='submit' value='Filter by orbit' id='button_orbit')
                    #formDate
                        #inputs_date
                            input(type="date", name="from", id="input_date_from")
                            input(type="date", name="to", id="input_date_to")
                        input(type='submit' value='Filter by date' id='button_date')  
            #resultNeas
                if data.length > 0
                    table#resultTable_neas
                        tr
                            th Designation
                            th Discovery date
                            th Period year
                        each nea in data
                            tr
                                td=nea.designation
                                td=nea.discovery_date.slice(0,nea.discovery_date.indexOf("T"))
                                td=nea.period_yr
            button(onclick="topFunction()" id="btn_top")
                i(class="fas fa-chevron-circle-up")
    
    script.
        const neas = !{jsStringify(data)};     
    script(src="/utils/top_button.js") 
    script(src="/utils/chart.js") 